{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script src="{{ relURL (printf "%s%s" "dist/" .) }}"></script>
  <script type='application/ld+json'>
{
	"@context": "http://schema.org/",
	"@type": "RoofingContractor",
    "name": "Green Roof Solar",
    "image": "https://www.green-roof-solar.com/images/green-roof-solar-sonoma-ca.jpg",
    "pricerange": "Sq. area dependent",
	"address": {
		"@type": "PostalAddress",
		"addressCountry": "usa",
		"addressLocality": "Sebastopol",
		"addressRegion": "CA",
		"postalCode": "95472",
		"streetAddress": "125 S. Main St. #127",
		"telephone": "17073970021",
		"description": "Sebastopol, in Northern California, is the ancestral home of Green-Roof-Solar.com. The sun shines and the liberals prevail, all year long. We are so liberal that “green” is just a symbolic way-station on the path to nirvana. If Sebastopol had our way, we’d have a Tesla in every carport, at least one solar roof per capita, and another on the barn.  My chicken coop has a solar roof! That should give you some idea…",
		"mainEntityOfPage": "http://www.green-roof-solar.com/",
		"name": "Green Roof Solar - Sebastopol - Sonoma County"
	},
	"areaServed": "Sonoma County",
	"hasMap": "https://www.google.com/maps/place/Green+Roof+Solar/@38.4017569,-122.8237986,15z/data=!4m5!3m4!1s0x0:0xaaf60b75702231ec!8m2!3d38.4017569!4d-122.8237986"
}
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1881015-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1881015-6');
</script>

{{ end }}
